.snow-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
	overflow: hidden;
}

.snowflake {
	position: absolute;
	top: -10%;
	color: white;
	font-size: 1em;
	user-select: none;
	animation: fall linear infinite;
}

@keyframes fall {
	0% {
		top: -10%;
		transform: translateX(0) rotate(0deg);
	}
	100% {
		top: 110%;
		transform: translateX(calc(var(--random-x, 0) * 100px)) rotate(360deg);
	}
}

/* Добавляем небольшое боковое движение для реалистичности */
.snowflake:nth-child(2n) {
	animation-timing-function: ease-in-out;
}

.snowflake:nth-child(3n) {
	--random-x: 0.5;
}

.snowflake:nth-child(4n) {
	--random-x: -0.5;
}

.snowflake:nth-child(5n) {
	--random-x: 0.8;
}

.snowflake:nth-child(6n) {
	--random-x: -0.8;
}
