.snow-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
	overflow: hidden;
	/* Включаем аппаратное ускорение для контейнера */
	transform: translateZ(0);
}

.snowflake {
	position: absolute;
	top: -10%;
	width: 10px;
	height: 10px;
	user-select: none;
	/* Используем ::before для снежинки вместо текстового узла */
	animation: fall linear infinite;
	/* GPU ускорение - критично для производительности */
	will-change: transform;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

.snowflake::before {
	content: '❄';
	color: white;
	font-size: 1em;
	display: block;
}

@keyframes fall {
	0% {
		transform: translate3d(0, -10vh, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(
				calc(var(--random-x, 0) * 100px),
				110vh,
				0
			)
			rotate(360deg);
	}
}

/* Добавляем небольшое боковое движение для реалистичности */
.snowflake:nth-child(2n) {
	animation-timing-function: ease-in-out;
}

.snowflake:nth-child(3n) {
	--random-x: 0.5;
}

.snowflake:nth-child(4n) {
	--random-x: -0.5;
}

.snowflake:nth-child(5n) {
	--random-x: 0.8;
}

.snowflake:nth-child(6n) {
	--random-x: -0.8;
}
